<h2>Welcome to Football Accountant!!</h2>
<br />

<div style="text-align: center">
    <img class="centerImage" src="~/Resources/accountantmole.jpg" />
</div>
<br />

    @{  
        var duePaymentText = ViewBag.DuePaymentText;

        if (ViewBag.DuePayment != null)
        {
            var duePaymentTotal = @String.Format("{0:n0}", ViewBag.DuePayment.Total);
            var fromDate = ViewBag.DuePayment.From.ToString("dd/MM/yy");
            var toDate = ViewBag.DuePayment.To.ToString("dd/MM/yy");

            duePaymentText = string.Format(duePaymentText, duePaymentTotal, fromDate, toDate);
        }
    }

    <p>@duePaymentText</p>

    @{
        var dueCancellationText = ViewBag.DueCancellationText;
        var dueCancellationTemplateText = ViewBag.DueCancellationText;

        if (ViewBag.DueCancellations.Count > 0)
        {
            foreach (var row in ViewBag.DueCancellations)
            {
                var date = @row.Date.ToString("dd/MM/yy");
                var cost = @String.Format("{0:n0}", @row.Cost);

                dueCancellationText = string.Format(dueCancellationTemplateText, cost, date);

                <p>@dueCancellationText</p>
            }
        }
        else
        {
            <p>@dueCancellationText</p>
        }
    }

    @{
        var unsettledCancellationText = ViewBag.UnsettledCancellationText;
        var unsettledCancellationTemplateText = ViewBag.UnsettledCancellationText;

        if (ViewBag.UnsettledCancellations.Count > 0)
        {
            foreach (var row in ViewBag.UnsettledCancellations)
            {
                var date = @row.Date.ToString("dd/MM/yy");
                var cost = @String.Format("{0:n0}", @row.Cost);

                unsettledCancellationText = string.Format(unsettledCancellationTemplateText, cost, date);

                <p>@unsettledCancellationText</p>
            }
        }
        else
        {
            <p>@unsettledCancellationText</p>
        }
    }

    @using (Html.BeginForm("Email", "Home"))
    {
        <input type="submit" value="E-mail me this!" />
    }  
